{% extends 'blog/base.html' %}
{% load static %}

{% block head_title %}关于网站，网站及博主介绍{% endblock %}
{% block metas %}
<meta name="description"
      content="本网站是一个采用django+bootstrap4搭建的个人博客，本着学习和分享的精神，博客项目开源，源代码可以到我的Github中查看，网站建站历程可以查看页面Timeline内容。">
<meta name="keywords" content="网站About页面,关于网站,关于博主,关于站长">
{% endblock %}


{% block base_content %}
<div class="container">
    <div class="row" style="text-align: center">
        <div class="col mt-4">
            <div class="row align-items-center justify-content-center">
                <div class="col-6 col-sm-5 col-md-4 col-lg-3 offset-lg-2 offset-md-1">
                    <img src="{% static 'blog/img/myself.jpg' %}" style="max-width: 100%; border-radius: 30%">
                </div>
                <div class="col">
                    <h2>About me</h2>
                    <div>编程渣渣,从一个coper到coder的路上</div>
                    <div>敲代码，主要用Python，会一点C</div>
                    <div>爱好桌游</div>
                </div>
            </div>
            <hr/>
            <h3>技术栈</h3>
            <h5 style="color: green">
                编程
            </h5>

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">技能</th>
                    <th scope="col">类别</th>
                    <th scope="col">技能开启时间</th>
                    <th scope="col">目前状态</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-success">
                    <th scope="col">Django + bootstrap4</th>
                    <td>Web</td>
                    <td>2019.1</td>
                    <td>博客开发：
                        <a href="/"
                           style="color: #5897fb"
                           target="_blank">
                            豆果的个人网站
                        </a>
                    </td>
                </tr>
                <tr class="table-success">
                    <th scope="col">BootStrap 4</th>
                    <td>前端</td>
                    <td>2018.3</td>
                    <td>学习中</td>
                </tr>
                </tbody>
            </table>
            <br/>

            <h5 style="color: darkgoldenrod">
                爱好
            </h5>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">技能</th>
                    <th scope="col">类别</th>
                    <th scope="col">技能开启时间</th>
                    <th scope="col">目前状态</th>
                </tr>
                </thead>
                <tbody>
                <tr class="table-warning">
                    <th scope="col">游戏王</th>
                    <td>桌游</td>
                    <td>2009.9</td>
                    <td>
                        云玩家
                    </td>
                </tr>
                </tbody>
            </table>
            <p>自学编程<br>在博客上记录学习的点滴,以及其他随笔。
            </p>
            <hr/>

            <br>
            <br>

            <p>感谢你的小小停留</p>
            <p>愿你会有小小收获</p>
            <br>
            <br>


            <p class="layui-elem-quote">
                遇到问题、赞助推广，请点击这里:
                <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=xuerobec@foxmail.com" style="color: #5897fb;">发邮件给博主</a>
                <br>或扫二维码加我的个人微信：
            </p>
            <div id="wechart_qr">
                <img src="{% static 'blog/img/wechat.jpg' %}" style="max-width: 200px">
            </div>
            <br>


            <p class="layui-elem-quote">我的文章<br>
                还可以关注
                <a href="https://mp.weixin.qq.com/s/IV0JH3XELEn0QvOkaoxB5w"
                   target="_blank"
                   style="color: #5897fb;">
                    微信公众号
                </a>
            </p>
            <img src="{% static 'blog/img/dingyuehao.jpeg' %}"
                 style="max-width: 200px"
                 alt="公众号QR"
            >
            <br/>
            <br/>

            <br/>
            <br/>
            <div>
                <a href="/donate/"
                   target="_blank"
                   class="btn btn-danger text-white btn-sm"
                >
                    写的不错，继续加油！
                </a>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.js"></script>
    <script src="https://cdn.bootcss.com/leaflet/1.3.1/leaflet.js"></script>
{% endblock %}