{% load staticfiles %}
<nav class="navbar navbar-white bg-white mb-0" id="nav-footer">
    <div class="row col justify-content-center">
        <h3 class="mr-3">
            <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=xuerobec@foxmail.com">
                <i class="fas fa-envelope" style="color: lightskyblue;" id="layer_email"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="https://github.com/ymj4023" style="color: #f0c674;" target="_blank">
                <i class="fab fa-github" id="layer_github"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="//weibo.com/douguo2" style="color: indianred;" target="_blank">
                <i class="fab fa-weibo" id="layer_weibo"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="{% url 'blog:about' %}#wechart_qr" style="color: yellowgreen;">
                <i class="fab fa-weixin" id="footer_wechart"></i>
            </a>
        </h3>
    </div>

    <div class="row col-12 justify-content-center">
        <div style="text-align: center; color: dark;">
            <p class="mb-0">CopyRight &copy; 2019- 豆果的个人网站</p>
            <p class="mb-0">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a> &
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap
                </a>
                <span class="mb-0">
                    <a href="http://www.miibeian.gov.cn/" target="_blank">闽ICP备19013705号-1</a>&nbsp;|
                    <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}" target="_blank">Sitemap</a>
                </span>
            </p>
        </div>
    </div>
</nav>
<script>
    $('#layer_email').on('mouseenter', function () {
        this.index = layer.tips('给博主发邮件', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, 'lightskyblue']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });

    $('#layer_weibo').on('mouseenter', function () {
        this.index = layer.tips('关注博主微博', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, 'indianred']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });

    $('#layer_github').on('mouseenter', function () {
        this.index = layer.tips('在GitHub查看博主代码', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, '#f0c674']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });
    $('#footer_wechart').on('mouseenter', function () {
        this.index = layer.tips('关注博主微信公众号', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, 'yellowgreen']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });
    $('#layer_rss').on('mouseenter', function () {
        this.index = layer.tips('订阅本站', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, '#E67E22']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });
</script>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script type="text/javascript">
  jinrishici.load(function(result) {
    var sentence = document.querySelector("#poem_sentence")
    var info = document.querySelector("#poem_info")
    sentence.innerHTML = result.data.content
    info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
  });
</script>
