{% load staticfiles %}
<nav class="navbar navbar-white bg-white mb-0" id="nav-footer">
    <div class="row col justify-content-center">
        <h3 class="mr-3">
            <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=xuerobec@foxmail.com">
                <i class="fas fa-envelope hvr-icon" style="color: lightskyblue;" id="layer_email"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="https://github.com/ymj4023" style="color: #f0c674;" target="_blank">
                <i class="fab fa-github" id="layer_github"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="//weibo.com/douguo2" style="color: indianred;" target="_blank">
                <i class="fab fa-weibo" id="layer_weibo"></i>
            </a>
        </h3>
        <h3 class="mr-3">
            <a href="{% url 'blog:about' %}#wechart_qr" style="color: yellowgreen;">
                <i class="fab fa-weixin" id="footer_wechart"></i>
            </a>
        </h3>
    </div>

    <div class="row col-12 justify-content-center">
        <div style="text-align: center; color: dark;">
            <p class="mb-0">CopyRight &copy; 2019- 豆果的个人网站</p>
            <p class="mb-0">Powered by
                <a href="https://www.djangoproject.com/" target="_blank">
                    Django
                </a> &
                <a target="_blank" href="https://getbootstrap.com/">
                    Bootstrap
                </a>
                <span class="mb-0">
                    <a href="http://www.beian.miit.gov.cn" target="_blank">闽ICP备19013705号-1</a>&nbsp;|
                    <a href="{% url 'django.contrib.sitemaps.views.sitemap' %}" target="_blank">Sitemap&nbsp;|</a>
                </span>
                <span>
                    <a href="https://tongji.baidu.com/sc-web">百度统计</a>
                </span>
            </p>
            <p>网站已平稳运行：<a href="https://shici.store/poetry-calendar/"><span id="site_runtime" style="color: #24a0f0;"></a></span></p>
        </div>
    </div>
</nav>
<script>
    $('#layer_email').on('mouseenter', function () {
        this.index = layer.tips('给博主发邮件', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, 'lightskyblue']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });

    $('#layer_weibo').on('mouseenter', function () {
        this.index = layer.tips('关注博主新浪微博', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, 'indianred']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });

    $('#layer_github').on('mouseenter', function () {
        this.index = layer.tips('在GitHub查看博主代码', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, '#f0c674']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });
    $('#footer_wechart').on('mouseenter', function () {
        this.index = layer.tips('关注博主微信公众号', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, 'yellowgreen']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });
    $('#layer_rss').on('mouseenter', function () {
        this.index = layer.tips('订阅本站', this, {
            time: -1,
            maxWidth: 280,
            tips: [1, '#E67E22']
        });
    }).on('mouseleave', function () {
        layer.close(this.index);
    });
</script>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script type="text/javascript">
  jinrishici.load(function(result) {
    var sentence = document.querySelector("#poem_sentence")
    var info = document.querySelector("#poem_info")
    sentence.innerHTML = result.data.content
    info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
  });
</script>
<script type="text/javascript">
    function show_site_runtime(){
    window.setTimeout("show_site_runtime()",1000); // 每秒运行一次函数
    X=new Date("07/20/2019 00:00:00"); //在这里修改你的建站时间
    Y=new Date();
    T=(Y.getTime()-X.getTime()); // 获取当前时间与指定时间之间的时间间隔（ms）
    i=24*60*60*1000;
    d=T/i;
    D=Math.floor(d); // 计算天数并向下取整
    h=(d-D)*24;
    H=Math.floor(h); // 计算剩余不足一天的小时数并向下取整
    m=(h-H)*60;
    M=Math.floor(m); // 计算剩余不足一小时的分钟数并向下取整
    s=(m-M)*60
    S=Math.floor(s); // 计算剩余不足一分钟的秒数并向下取整
    site_runtime.innerHTML= Y+D + " 天 " + H + " 小时 " + M + " 分 " + S + " 秒 "
    }
    show_site_runtime();
</script>