{% load cache %}
{% load blog_tags static %}


<!--每日诗词-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="tag-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fab fa-pagelines mr-2 f-17"></i><a href="https://www.jinrishici.com/">每日诗词</a></strong>
    </div>
    <div class="card-body px-0 py-3">
        <div id="poem_sentence"style="text-align: center; color: #CD2626;"></div>
        <div id="poem_info"style=" color: darkviolet;"></div>
    </div>
</div>
<!--个人空间-->
{% cache 1800 'cache_baseright_html_tag' %}
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3 d-none d-lg-block" id="home-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-feather mr-2 f-17"></i>豆果</strong>
    </div>
    <div class="card-body px-0 pt-3 pb-1">
        <div class="row text-center">
            <div class="col">
                {% url 'blog:about' as about_url %}
                <a class=" {% if request.path == about_url %}active{% endif %}" href="{{ about_url }}">
                    <i class="fa fa-anchor fa-2x mr-1"></i>
                    <p class="mt-2">关于</p>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'blog:timeline'%}" target="_blank" title="查看网站建站历程">
                    <i class="fas fa-paper-plane fa-2x" id="timeline"></i>
                    <p class="mt-2">Timeline</p>
                </a>
            </div>
            <!--rss的layer弹出有关的js在footer里面,跟其他layer弹出有关的js放在一起-->
            <div class="col">
                <a href="{% url 'rss'%}"  target="_blank" title="订阅博客">
                    <i class="fas fa-rss fa-2x" style="color: #E67E22;" id="layer_rss"></i>
                    <p class="mt-2">RSS订阅</p>
                </a>
            </div>
        </div>
    </div>
</div>
<!--文章分类-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="category-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-book mr-2 f-17"></i>文章分类</strong>
    </div>
    {% get_category_list as categories %}
    <ul class="list-group list-group-flush f-16">
        {% for each in categories %}
        <li class="list-group-item d-flex justify-content-between align-items-center pr-2 py-2">
            <a class="category-item" href="{{ each.get_absolute_url }}"
               title="查看【{{ each.name }}】分类下所有文章">{{ each.name }}</a>
            <span class="badge text-center" title="当前分类下有{{ each.total_num }}篇文章">{{ each.total_num }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
<!--标签云-->
<div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="tag-card">
    <div class="card-header bg-white px-0">
        <strong><i class="fa fa-tags mr-2 f-17"></i>标&nbsp;签&nbsp;云</strong>
    </div>
    <div class="card-body px-0 py-3">
        <div class="tag-cloud">
            {% get_tag_list as tag_list %}
            {% for tag in tag_list %}
            <a href="{{ tag.get_absolute_url }}" class="tags f-16" id="tag-{{ forloop.counter }}"
               title="【{{ tag.name }}】标签下有{{ tag.total_num }}篇文章">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!--友链-->
<div class="d-none d-lg-block">
    <div class="card border-0 rounded-0 px-3 mb-2 mb-md-3" id="friends-card">
        <div class="card-header bg-white px-0">
            <strong><i class="fa fa-link mr-2 f-17"></i>友情链接</strong>
        </div>
        <div class="card-body px-0 py-3">
            <div class="tool-list">
                {% get_friends as friends %}
                {% for friend in friends %}
                <div class="w-50 float-left text-center mb-2">
                    <div class="mx-2">
                        <a href="{{ friend.link }}" title="{{ friend.description }}" target="_blank">
                            {{ friend.name }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endcache %}